blog.yugold.top {
	root * /var/www/homepage/dist
	encode zstd gzip
	file_server

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
	}
}

admin.yugold.top {
	encode zstd gzip

	basic_auth {
		admin HASHED_PASSWORD
	}

	reverse_proxy 127.0.0.1:4310
}
